.Pokedex{
    text-align: center;
}

.Pokedex-card{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.Pokedex-winning{
    color: green;
}

.Pokedex-losing{
    color: red;
}